.c1{
	background-image: url("../asset/abc.jpg");
	color: white;
}
.c1:hover{
	opacity: 0.8;
}
.c2{
	background-color: gainsboro ;
}
img{
	width: 225px;
	border-radius: 50%;
}
.register{
	border-radius: 30px;
	align-content: center;
}