body{
       background: url("../asset/7.jpg");
 background-repeat: no-repeat;
 background-size:100%
    }
.redeem{
      padding: 50px;
      margin-top: 150px;
   padding-bottom: 30px;
   margin-left: 500px;
   margin-right: 500px;
   align-content: center;
      width: 600px;
     height: 200px;
      background-color: black;
      opacity: .8;
      color: white;
      align-content: center;
    }
    h1{
      color: darkviolet;
    }
    .text{
      width: 100%;
      height: 100px;
    }
    .btn{
      margin-left: 120px;
      width: 50%;
      height: 40px;
      background-color: green;
    }